body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Custom CSS*/

html {
  margin: 0;
  height: 100%;
  padding: 0;
}

#root {
  margin: 0;
  height: 100%;
  padding: 0;
}

.App {
  margin: 0;
  height: 100%;
  padding: 0;
}

/* HomePage CSS */

.displaypage {
  margin: 0;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-between; */
}

/* Market of Stocks Display */
.stocksdisplay {
  /* border: solid; */
  position: absolute;
  left: 10px;
  width: 50%;
  align-self: center;
  /* margin-bottom: 50px !important; */
  /* margin-top: 50px; */
  /* background-color: beige; */
}

/* .stock {
  border: solid;

} */

/* CheckOut Form CSS */

.form {
  margin-top: 250px;
}

.checkout {
  margin-right: 10px;
}